@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Poppins:wght@300;700&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body{
    font-family: 'Open Sans', sans-serif;
   
    min-height: 100vh;
    box-sizing: border-box;
   
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 10%;
    background-color: rgba(0, 0, 0, 0.425);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 25px;
    text-transform: uppercase;
     color: #ffffff;
    font-weight: 700;
}

.logo:hover{
   color: yellowgreen;
}

.navigation ul{
    list-style: none;
}

.header .navigation ul li{
    float: left;
    position: relative;
}

.header .navigation ul li a{
   font-size: 18px;
   color: white;
   text-decoration: none;
   padding: 25px;
   display: block;
   transition: all .2s aese;
}

.header .navigation ul li a:hover{
    color: blue;
    background-color: wheat;
}

.header .navigation ul li ul{
    position: absolute;
    right: 0;
    width: 250px;
    background-color: rgb(187, 81, 43);
    display: none;
}

.header .navigation ul li ul li a{
    font-size: 18px;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}

.header .navigation ul li ul li{
    width: 100%;
}

.header .navigation ul li:hover > ul{
display: initial ;
}

#toggle,
.header label{
    display: none;
    cursor: pointer;
}

.menu{
    width: 50px;
    height: 40px;
}

@media(max-width:950px){
    .header label{
        display: initial;
    }

    .header{
        padding: 20px 10%;
    }

    .header .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(170, 55, 13, 0);
        display: none;
    }

    .header .navigation ul li{
        width: 100%;
    }

    .header .navigation ul li a{
        padding: 8px 30px 8px 10%;
    }

    .header .navigation ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li{
        background-color: rgba(1, 1, 1, 0.7);
    }

    .header .navigation ul li ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked~.navigation{
        display: block;
    }
}

.hero{
    min-height: 100vh;
    background-image: url(img/morro.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}